@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
#navbar {
  position: fixed;
  height: 100%;
  min-width: 300px;
  width: 300px;
  top: 0px;
  left: 0px;
  color: black;
  background-color: white;
  padding: 75px 0px;
}
#background {
   background-color: #ffcee7;
}
#main-doc {
  background-color: #ffcee7;
}
.main-section {
  padding: 50px;
  width: 70em;
  margin: auto;
  border-top: ridge 3px white;
  border-left:  ridge 3px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black;
}
#kitty {
  position: absolute;
  left: -50px;
  top: 550px;
  z-index: -1;
}
#navbar {
  background-color: #ffcee7;
  border-top: ridge 3px white;
  border-left: ridge 3px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black;
}
#banner {
  padding: 2px;
  margin: auto;
  width: 77em;
  text-align: center;
  background-color: #ffcee7;
  border-top: ridge 3px white;
  border-left: ridge 3px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black;
}
.nav-link {
  text-decoration: none;
  color: black;
  line-height: 2;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
html {
  background-color: #ffcee7;
  font-family: 'Shrikhand', cursive;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
  padding: 1px;
}
